body { font-family: var(--font-primary), sans-serif; }
.homeBanner_home_banner__iw2nI {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.homeBanner_home_banner__iw2nI video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homeBanner_banner_content__dyRo6 h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 20%;
}
.swiper-slide { width: 775px; }
@media (max-width: 768px) {
    .homeBanner_banner_content__dyRo6 h1 { font-size: 40px; }
}
